.header_main {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.menu_main {
    display: flex;
    gap: 20px;
    margin-left: 30px;
}

.main_box {
    display: flex;
    background-color: #286246;
    cursor: pointer;
    opacity: 0.9;
    width: 80px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.date {
    position: absolute;
    right: 93px;
    top: 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.info {
    display: flex;
    align-items: center;
    gap: 35px;
}

.home_login {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    background-color: #286246;
    cursor: pointer;
}

.home_login_2 {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    background-color: #286246;
}
