@media screen and (max-width: 600px) {
  #comunitybox {
    width: 100%;
  }

  body {
    background-color: black;
  }

  .com-subbox {
    width: 50%;
  }

  .iconline {
    width: calc(50% - 5px);
    margin-top: 10px;
  }

  .comsubtext {
    width: calc(50% - 5px);
  }

  .com_maintextbox {
    display: flex;
    justify-content: center;
    width: calc(50% - 5px);
  }

  .com_wrtielist {
    width: calc(50% - 5px);
  }
}

/* @media screen and (max-width: 599px) {
  #box h1::after {
    content: "mobile";
  }

  .box_wrap > div.box2 {
    width: 100%;
  }

  .box_wrap > div.box3 {
    display: none;
  }
} */
