.fsignup_1 {
  width: 100%;
<<<<<<< HEAD
  height: 150px;
=======
  height: 170px;
>>>>>>> develop
  background-color: white;
  color: #8d9098;
  overflow: auto;
  padding: 15px;
}

.fsignupmain_1 {
<<<<<<< HEAD
  padding: 20px 50px 10px 50px;
=======
  padding: 20px 50px 50px 50px;
>>>>>>> develop
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fsignupmain_1 input {
  width: auto;
  height: 20px;
  margin-top: 20px;
}

.fsigncheck_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  padding-left: 20px;
  padding-right: 20px;
<<<<<<< HEAD
  border-top: solid #8d9098;
=======
>>>>>>> develop
}

.fsigntxtbox {
  width: auto;
}

.fsigntxtbox {
  display: flex;
  align-items: center;
}
<<<<<<< HEAD

.fsign_check {
  transform: scale(1.5);
  width: auto;
  height: 20px;
  margin-top: 20px;
}
=======
>>>>>>> develop
