@import "/src/css/reset.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #fffdefd1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  display: flex;
}

.box {
  width: 500px;
  height: 500px;
  background-color: #1a1a1a;
  border-radius: 80px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.school_name {
  font-size: 28px;
  margin-top: 70px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 60px;
}

.school_name em {
  letter-spacing: 3px;
}

.stroke {
  width: 530px;
  height: 530px;
  background-color: #286246;
  border-radius: 110px;
}

.id_box {
  display: flex;
  flex-direction: column;
}

.id_box input {
  background-color: #1a1a1a;
  border: 1px solid #6a6767;
  width: 330px;
  height: 55px;
  border-radius: 5px;
  color: white;
}

#userid {
  margin-bottom: 10px;
}

#pwd {
  margin-bottom: 15px;
}

input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.id_check {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.idsave {
  color: white;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}

#idckb {
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #1a1a1a;
}

#idckb:checked {
  background-color: #4197fc;
}

.login_button {
  width: 330px;
  height: 50px;
  background-color: #4197fc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 30px;
}

.more {
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #d4ddfc;
}

.lost {
  cursor: pointer;
}

.signup {
  cursor: pointer;
}

.arrow {
  position: relative;
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  position: absolute;
  width: 50px;
  height: 10px;
  border-radius: 5px;
  background-color: #286246;
  rotatex: 90deg;
}

.two {
  width: 100px;
  height: 10px;
  border-radius: 5px;
  background-color: #286246;
}
