html{ font-size: 10px;}
body{
    box-sizing: border-box;
    background-color: rgba(255, 253, 239, 0.82);;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.name{
    margin-top: 7rem;
    width: 170rem;
    height: 5rem;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}
.tag{
    width: 170rem;
    height: 5rem;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 3rem;
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
}
.write{
    vertical-align: bottom;
    width: 170rem;
    height: 55rem;
    margin-top: 3rem;
    border-radius: 10px;
    border: 0;
    border: 1px solid black;
}
.fa-solid{
    font-size: 40px;
    margin: 2rem;
    color: #286246;
    position: fixed;
    top: 0;
    left: 0;
}
.bar_container{
    margin: 2rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
}
.bar{
    width: 3.5rem;
    height: 0.7rem;
    box-shadow: 0px 0px 3px;
    border-radius: 5px;
    background-color: #286246;
    margin-bottom: 0.5rem;

}
.footer{
    width: 170rem;
    display: flex;
    justify-content: end;
}
.foot{
    width: 10rem;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: #286246;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    text-align: center;
}
