@import "reset.css";

/* Components */
@import "/src/css/components/arrow.css";

/* Screens */
@import "screens/mainpage.css";
@import "screens/login.css";

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fffdefd1;
  height: 100vh;
}
