@import "reset.css";

/* Components */
@import "components/arrow.css";
@import "components/menubar.css";

/* Screens */
@import "screens/mainpage.css";
@import "screens/login.css";
@import "screens/signup.css";
@import "screens/calender.css";
@import "screens/community.css";
@import "screens/firstsignup.css";

* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: #fffdefd1;
    height: 100vh;
}

pre {
    width: 100%;

    white-space: pre-wrap;

    word-wrap: break-word;
}
